<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<p><a href="/manager/ordermanager">Order Manager</a></p>
<p><a href="/manager/accountmanager">Account Manager</a></p>
<p><a href="/manager/itemmanager">Item Manager</a></p>
<p><a href="/manager/productmanager">Product Manager</a></p>
<p><a href="/manager/categorymanager">Category Manager</a></p>
</body>
</html>