<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen">
</head>
<body>
<form action="/manager/modifycat" method="post" th:object="${category}">
    <td th:text="${category.categoryId}">Category ID </td>
    <table>
        <tr>
            <td>Category ID:</td>
            <td><input type="text" th:field="*{categoryId}" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>

    </table>
    <input type="submit" value="Modify Category Information">
</form>
</body>
</html>