<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen">
</head>
<body>
<form action="/manager/newProduct" method="post" th:object="${newProductsForm}">
    <h3>Product Information</h3>
    <table>
        <tr>
            <td>Product ID:</td>
            <td><input type="text" th:field="*{productId}" /></td>
        </tr>
        <tr>
            <td th:text="${msg}"></td>
        </tr>
        <tr>
            <td>Category ID:</td>
            <td><input type="text" th:field="*{categoryId}" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
    </table>
    <input type="submit" value="Save Product Information">
</form>
</body>
</html>